<aside class="main-sidebar">
  <section class="sidebar">  
    <ul class="sidebar-menu">
      <li class="header">控制台</li>

      {% if current_user.school.school_type in ['ukulele', 'both'] %}
      <li class="header">学生管理</li>
      <li class=""><a href="/school/students"><i class="fa fa-cloud"></i> <span>全部学生</span></a></li>
      <li class=""><a href="/school/student/add"><i class="fa fa-cloud"></i> <span>添加学生</span></a></li>
      {% endif %}

      {% if current_user.school.school_type in ['ukulele', 'drums', 'both'] %}
      <li class="header">资料管理</li>
      <li class=""><a href="/school/video"><i class="fa fa-cloud"></i> <span>视频资料</span></a></li>
      {% endif %}
      {% if current_user.school.school_type == 'ukulele' %}
        <li class=""><a href="/school/material/ukulele"><i class="fa fa-cloud"></i> <span>尤克里里资料</span></a></li>
      {% endif %}
      {% if current_user.school.school_type == 'drums' %}
        <li class=""><a href="/school/material/drums"><i class="fa fa-cloud"></i> <span>非洲鼓资料</span></a></li>
      {% endif %}
      {% if current_user.school.school_type == 'both' %}
        <li class=""><a href="/school/material/ukulele"><i class="fa fa-cloud"></i> <span>尤克里里资料</span></a></li>
        <li class=""><a href="/school/material/drums"><i class="fa fa-cloud"></i> <span>非洲鼓资料</span></a></li>
      {% endif %}

      <li class="header">我的账户</li>
      <li><a href="/school/signout"><i class="fa fa-circle-o text-aqua"></i> <span>退出登录</span></a></li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </section>
</aside>