<aside class="main-sidebar">
  <section class="sidebar">  
    <ul class="sidebar-menu">
      <li class="header">控制台</li>
      <li class="header">图书管理</li>
      <li class=""><a href="/client/book/mine"><i class="fa fa-cloud"></i> <span>我的图书</span></a></li>
      <li class=""><a href="/client/books"><i class="fa fa-cloud"></i> <span>图书借阅</span></a></li>
      <li class="header">我的账户</li>
      <li><a href="/client/password/change"><i class="fa fa-circle-o text-aqua"></i> <span>修改密码</span></a></li>
      <li><a href="/client/signout"><i class="fa fa-circle-o text-aqua"></i> <span>退出登录</span></a></li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </section>
</aside>