<aside class="main-sidebar">
  <section class="sidebar">  
    <ul class="sidebar-menu">
      <li class="header">控制台</li>
      <li class="header">用户管理</li>
      <li class=""><a href="/admin/users"><i class="fa fa-cloud"></i> <span>全部用户</span></a></li>
      <li class=""><a href="/admin/user/add"><i class="fa fa-cloud"></i> <span>添加用户</span></a></li>

      <li class="header">图书管理</li>
      <li class=""><a href="/admin/books"><i class="fa fa-cloud"></i> <span>全部图书</span></a></li>
      <li class=""><a href="/admin/book/add"><i class="fa fa-cloud"></i> <span>添加图书</span></a></li>

      <li class="header">我的账户</li>
      <li><a href="/admin/signout"><i class="fa fa-circle-o text-aqua"></i> <span>退出登录</span></a></li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </section>
</aside>