{% set pageId = 'dashboard' %}
{% extends 'admin/base.html' %}
{% block title %}控制台{% endblock %}
{% block body %}
  <section class="content-header">
    <h1>
      控制台
    </h1>
  </section>

<section class="content">
  <div class="databox">

    <div class="row">
      <div class="col-md-6">
        <!-- 基本信息 -->
        <div class="box box-primary">

          <form action="/admin/user/edit?id={{user.id}}" method="post">
            <div class="box-header with-border">
              <h3 class="box-title">用户编辑</h3>
            </div>
            <div class="box-body box-profile">
              <div class="form-group">
                <label>姓名</label>
                <input name="name" type="text" class="form-control" value={{ user.name }}>
              </div>
              <div class="form-group">
                <label>性别</label>
                <select name="gender" class="form-control">
                  <option name='male' value="0" {% if user.gender == 0 %}selected{% endif %}>男</option>
                  <option name='female' value="1" {% if user.gender == 1 %}selected{% endif %}>女</option>
                </select>
              </div>
              <div class="form-group">
                <label>工号</label>
                <input name="number" type="text" class="form-control" value={{ user.number }}>
              </div>
              <div class="form-group">
                <label>手机号码</label>
                <input name="phone" type="text" class="form-control" value={{ user.phone }}>
              </div>
              <div class="form-group">
                <label>所属部门</label>
                <input name="department" type="text" class="form-control" value={{ user.department }}>
              </div>
            </div>
            <div class="box-footer">
              <button type="button" class="btn btn-submit btn-primary btn-block">
                更新
                <span class="label label-success hide">操作成功</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}