alembic==0.9.3
appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
certifi==2017.4.17
chardet==3.0.4
click==6.7
decorator==4.1.2
enum34==1.1.6
Flask==0.12.2
Flask-Login==0.4.0
Flask-Migrate==2.0.4
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
idna==2.5
ipython==5.4.1
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
Mako==1.0.7
MarkupSafe==1.0
mysql-connector-python-rf==2.2.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.6.1
python-editor==1.0.3
PyYAML==3.12
requests==2.18.2
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.12
traitlets==4.3.2
urllib3==1.26.5
wcwidth==0.1.7
Werkzeug==0.12.2
